:root {
    --padding: 0.25em;
    --bg: rgb(247, 247, 251);
}

* {
    margin: 0;
}

*:focus {
    outline: .25rem solid cyan;
    outline-offset: .25rem;
}

html {
    font-family: "New York Medium", "Baskerville", "Liberation Serif", serif;
    color: #333;
    font-size: 16px;
    background-color: var(--bg);
}

a {
    color: currentColor;
}

cal-day .event {
    display: grid;
    grid-template-columns: 5em 1fr;
    grid-template-rows: auto 1fr;
    gap: 0 1em;
    margin-bottom: 2em;
    line-height: 1.5;
    align-items: center;
    padding: 0 var(--padding);
    box-sizing: border-box;
}

cal-day .event:last-of-type {
    margin-bottom: 0;
}

cal-day .event .icon {
    vertical-align: middle;
}

cal-day .event.multi-day, cal-day .event.all-day {
    align-items: center;
    grid-template-rows: 3em;
}

cal-day .event.empty {
    background-color: #ccc;
    grid-template-rows: 5em;
}

cal-day .event details {
    margin: 1em 0;
}

cal-day .event time {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;
    grid-row: 1 / -1;
}

cal-day .event h2 {
    font-weight: normal;
    font-size: 1em;
}

cal-event {
    display: none;
}

cal-month {
    height: 100dvh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 2em;
    grid-auto-rows: 1fr;
    align-items: stretch;
}

cal-month .day {
    box-shadow:1px 1px 0 0px #ddd;
}

cal-month .has-events a {
    text-decoration: underline;
}

cal-month .day-number {
    white-space: nowrap;
    justify-self: center;
    margin: 0.5em;
    font-size: .85em;
    padding: 0.5em;
}

cal-month .day-of-week {
    border: 1px solid #333;
    border-left: 0;
    border-right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5em;
    line-height: 1;
}

cal-month .day {
    box-shadow:1px 1px 0 0px #ddd;
}

cal-month .lining {
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    align-content: start;
    align-items: start;
}

cal-month .event {
    display: none;
}

cal-month .event-count {
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 1em 0.25em 0 0;
}

cal-month .multi-day-continuation {
    text-align: center;
    border-radius: 0;
}

cal-month .multi-day-start {
    margin-left: var(--padding);
    border-radius: .5em 0 0 .5em;
}

cal-month .multi-day-end {
    margin-right: var(--padding);
    border-radius: 0 .5em .5em 0;
    text-align: right;
}

cal-year {
    grid-template-columns: 1fr;
    align-items: start;
}

cal-year h2 {
    padding-left: 0.5em;
    font-weight: normal;
    grid-column: 1 / -1;
    line-height: 1;
    margin-bottom: .5em;
}

cal-year .day-of-week {
    border: 1px solid currentColor;
    border-left: 0;
    border-right: 0;
    text-align: center;
    padding: 0.25em 0;
}

cal-year .day-number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    box-sizing: border-box;
}

cal-year .has-events {
    background-color: lightblue;
}

cal-year .month {
    padding: 0 var(--padding);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

cal-year .month:last-of-type {
    margin-bottom: 0;
}

cal-year .day {
    padding: 0.25em;
    box-sizing: border-box;
    text-align: center;
}

.all-day {
    border-radius: .5em;
}

.day.today .day-number {
    background-color: #e01b24;
    color: #fff;
}

.diminished {
    background-color: #ddd;
}

.icon {
    width: 1em;
    height: 1em;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}

.navigator {
    background-color: var(--bg);
    position: sticky;
    z-index: 1;
    top: 0;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "title toggle"
        "subtitle toggle"
        "panel panel";
    justify-content: space-between;
    align-items: center;
    gap: 0 0.5em;
    padding: 0.75em 0.5em;
}

.navigator h1 {
    grid-area: title;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 1;
}

.navigator .nav {
    border-radius: .25em;
    padding: var(--padding);
    font-weight: bold;
    color: #fff;
    background-color: #333;
    display: inline-flex;
}

.navigator .icon {
    width: 1.75em;
    height: 1.75em;
    vertical-align: middle;
}

.navigator .next {
    display: none;
    grid-area: next;
}

.navigator .previous {
    display: none;
    grid-area: previous;
}

.navigator .jump {
    display: none;
    grid-area: jump;
}

.navigator .panel {
    grid-area: panel;
    display: none;
}

.navigator .panel > .nav {
    display: inline-block;
}

.navigator .toggle {
    grid-area: toggle;
}

.navigator .toggle .up {
    display: none;
}

.navigator .toggle .down {
    display: block;
}

.navigator.open .toggle .up {
    display: block;
}

.navigator.open .toggle .down {
    display: none;
}

.navigator.open .panel {
    display: block;
    padding: 1em 0;
}

.navigator .subtitle {
    align-self: end;
    font-style: italic;
    padding-top: .25em;
    grid-area: subtitle;
}

.view {
    display: none;
}

.view[date] {
    display: grid;
}

@media only screen and (min-width: 440px) {
    .navigator {
        grid-template-columns: auto 1fr auto auto auto;
        grid-template-areas: "title subtitle previous jump next";
        gap: 0 2em;
        padding: 1em;
    }

    .navigator h1 {
        text-align: left;
    }

    .navigator .icon {
        width: 1.5em;
        height: 1.5em;
    }

    .navigator .subtitle {
        font-size: 1.5em;
    }

    .navigator .toggle {
        display: none;
    }

    .navigator .previous {
        display: block;
    }

    .navigator .next {
        display: block;
    }

    .navigator .jump {
        display: block;
    }
}

@media only screen and (min-width: 600px) {
    cal-year {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1024px) {
    :root {
        --padding: 0.5em;
    }

    html {
        font-size: 18px;
    }

    cal-month .lining {
        height: auto;
    }

    cal-month .event {
        display: block;
        padding: 0 0.25em;
        margin-bottom: .25em;
    }

    cal-month .event .icon {
        margin-bottom: -2px;
    }

    cal-month .all-day {
        margin-left: 1.5em;
        text-indent: -1.25em;
    }

    cal-month .multi-day {
        background-color: blue;
        color: #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    cal-month .multi-day-start .icon, cal-month .all-day .icon {
        margin-right: .25em;
    }

    cal-month .event-count {
        display: none;
    }

    cal-month .day-number {
        justify-self: end;
    }

    cal-year {
        grid-template-columns: repeat(3, 1fr);
    }

    .navigator h1 {
        font-size: 2.5em;
    }
}
