:root {
    --padding: 0.5em;
}

HTML {
    font-size: 22px;
    background-color: rgb(247, 247, 251);
}

BODY {
    margin: 0;
}

EVENT {
    display: none;
}

A {
    text-decoration: none;
}

.calendar {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 3rem 2rem;
    grid-auto-rows: 1fr;
}

.calendar > nav {
    padding: 0 var(--padding);
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.datepicker {
    background-color: ;
}

.box {
    text-align: right;
    overflow: hidden;
}

.box:hover {
}

.box.inactive {
    background-color: #f5f5f5;
}

.heading {
    text-align: right;
    padding: 0.5em;
}

.entry {
    line-height: 2;
    text-align: left;
    padding: 0 0.5em;
}

.day {
    padding: var(--padding);
}
