:root {
    --padding: 0.5em;
}

* {
    margin: 0;
}

HTML {
    font-family: "New York Medium", "Liberation Serif", serif;
    color: #333;
    font-size: 18px;
    background-color: rgb(247, 247, 251);
}


EVENT {
    display: none;
}

A {
    text-decoration: none;
}

c-e {
    display: none;
}

c-g {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 2em;
    grid-auto-rows: 1fr;
    align-items: stretch;
}

c-g > header {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 1em var(--padding);
}

c-g > header h1 {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
    line-height: 1;
}

c-g > header a {
    border-radius: .25em;
    padding: var(--padding);
    margin-left: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    display: inline-flex;
}

c-g > header .icon {
    width: 1em;
    height: 1em;
    pointer-events: none;
}


.day-of-week {
    border: 1px solid #333;
    border-left-width: 0;
    border-right-width: 0;
    text-align: right;
    padding: 0.5em;
    line-height: 1;
}

.box {
    overflow: hidden;
    box-shadow:1px 1px 0 0px #ddd;
}

.box:hover {
}

.box.diminished > div {
    opacity: .5;
    height: 100%;
    margin: 1px;
    background-color: #eee;
}

.icon {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.entry {
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    padding: 0 var(--padding);
    box-sizing: border-box;
}

.entry .icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.all-day {
    border-radius: .5em;
    margin: 0 .25em;
}

.multi-day {
    background-color: blue;
    color: #fff;
}

.multi-day-continuation {
    text-align: center;
    border-radius: 0;
}

.multi-day-start {
    margin-left: .25em;
    border-radius: .5em 0 0 .5em;
}
.multi-day-end {
    margin-right: .25em;
    border-radius: 0 .5em .5em 0;
    text-align: right;
}

.day-of-month {
    text-align: right;
    padding: var(--padding);
}
